
.contact-section {
  padding: 60px 0;
  background: linear-gradient(
    135deg,
    #2b5876,
    #4e4376
  );
  color: #fff;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

 .container h1 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.contact-info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.contact-item {
  flex: 0.3;
  margin: 0 20px;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #333;
  transition: transform 0.3s, box-shadow 0.3s;
}

.contact-item:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.contact-item h3 {
  font-size: 1.5rem;
  color: #2b5876;
  margin-bottom: 10px;
}

.contact-item p a {
  text-decoration: none;
  color: #4e4376;
  font-weight: bold;
}

.social-media {
  margin-top: 20px;
}

.social-media a {
  margin: 0 10px;
  color: #fff;
  transition: color 0.3s, transform 0.3s ease-in-out;
  display: inline-block; 
}

.social-media a:hover {
  color: #ff7e5f;
  transform: scale(1.3); 
}

@media (max-width: 768px) {
  .contact-info {
    flex-direction: column;
    align-items: center;
  }

  .contact-item {
    margin-bottom: 20px;
  }
}
