.projects-section {
  padding: 60px 0;
  background: linear-gradient(
    135deg,
    #2b5876,
    #4e4376
  ); /* Matching hero section */
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.container h1 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  text-align: center;
}

.projects-wrapper {
  display: flex;
  justify-content: space-between;
}

.projects-group {
  width: 40%; /* Adjusted width for better spacing */
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.projects-group:hover {
  transform: scale(1.05); /* Pop-out effect */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.projects-group h3 {
  font-size: 2rem;
  color: #2b5876;
  margin-bottom: 20px;
}

.projects-group h5 {
  font-size: 1.5rem;
  color: #4e4376;
  margin-bottom: 10px;
}

.project {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
  transform: scale(1.02); /* Slight pop-out effect for project items */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

p {
  font-size: 1rem;
  color: #666;
}

a.project-link {
  text-decoration: none;
  color: #ff7e5f;
  font-weight: bold;
  transition: color 0.3s ease;
}

a.project-link:hover {
  color: #2b5876;
}

@media (max-width: 768px) {
  .projects-wrapper {
    flex-direction: column;
  }

  .projects-group {
    width: 100%;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  .project {
    padding: 15px;
  }
}
